<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="engcomp.smartclassufpa">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".View.Activities.BaseActivity" />
        <activity
            android:name=".View.Activities.InicioActivity"
            android:label="SmartClass UFPA"
            android:noHistory="true"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".View.Activities.FotosActivity"
            android:label="Fotos"
            android:noHistory="true"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".View.Activities.HorariosActivity"
            android:label="Horários"
            android:noHistory="true"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".View.Activities.TrabProvActivity"
            android:label="Trabalhos e Provas"
            android:noHistory="true"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".View.Activities.ConfigActivity"
            android:label="Configurações"
            android:noHistory="true"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".View.Activities.SobreActivity"
            android:label="Sobre"
            android:noHistory="true"
            android:theme="@style/AppTheme">
        </activity>

        <activity
            android:name=".View.Activities.EmentaActivity"
            android:label="Ementa"
            android:noHistory="true"
            android:theme="@style/AppTheme"
            android:configChanges="orientation|screenSize">
        </activity>


    </application>

</manifest>
